<!doctype html>
<html class="no-js" lang="">

<head>

    {% block head %}
        <title>Sobre</title>
    {% endblock %}

    <link rel="icon" href="/tile.png" type="image/x-icon" />

    <link href="/main.css" rel="stylesheet">

</head>

<body>

{% block header %}{% endblock %}

{% block content %}{% endblock %}

</body>
</html>
